{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="content">
  <section class="content-header">
    <h1>Cadastro</h1>
  </section>
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-tittle">Editar estabelecimento</h3>
    </div>
    <form action="{%url 'update' estabelecimentos.id%}" enctype="multipart/form-data" method="POST">
      {%csrf_token%}
      <div class="card-body">

        <div class="form-group">
          <label for="">Nome do estabelecimento</label>
          <input type="text" name="nomeE" class="form-control" value="{{estabelecimentos.nomeE}}" required>
        </div>
        <div class="form-group">
          <label for="">Localização</label>
          <input type="text" name="local" class="form-control" value="{{estabelecimentos.local}}" required>
        </div>
        <div class="form-group">
          <label for="">Horários</label>
          <input type="text" name="horario" class="form-control" value="{{estabelecimentos.horario}}" required>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <div class="form-check">
                <input type="checkbox" name="check1" class="form-check-input" {%if estabelecimentos.rampa_para_acesso%} checked {%endif%}>
                <label class="form-check-label">Rampa para acesso</label>
              </div>

              <div class="form-check">
                <input type="checkbox" name="check2" class="form-check-input" {%if estabelecimentos.barras_de_apoio%} checked {%endif%}>
                <label class="form-check-label">Barras de apoio</label>
              </div>

              <div class="form-check">
                <input type="checkbox" name="check3" class="form-check-input" {%if estabelecimentos.banheiro_adapt%} checked {%endif%}>
                <label class="form-check-label">Banheiros adaptados</label>
              </div>

              <div class="form-check">
                <input type="checkbox" name="check4" class="form-check-input" {%if estabelecimentos.acess_transporte%} checked {%endif%}>
                <label class="form-check-label">Acessibilidade no transporte</label>
              </div>

              <div class="form-check">
                <input type="checkbox" name="check5" class="form-check-input" {%if estabelecimentos.acess_arquit%} checked {%endif%}>
                <label class="form-check-label">Acessibilidade arquitetônica</label>
              </div>

            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <div class="form-check">
                <input type="checkbox" name="check6" class="form-check-input" {%if estabelecimentos.acess_comunic%} checked {%endif%}>
                <label class="form-check-label">Acessibilidade nas comunicações</label>
              </div>

              <div class="form-check">
                <input type="checkbox" name="check7" class="form-check-input" {%if estabelecimentos.acess_digital%} checked {%endif%}>
                <label class="form-check-label">Acessibilidade digital</label>
              </div>

              <div class="form-check">
                <input type="checkbox" name="check8" class="form-check-input" {%if estabelecimentos.acess_instrument%} checked {%endif%}>
                <label class="form-check-label">Acessibilidade instrumental</label>
              </div>

              <div class="form-check">
                <input type="checkbox" name="check9" class="form-check-input" {%if estabelecimentos.acess_program%} checked {%endif%}>
                <label class="form-check-label">Acessibilidade programática</label>
              </div>

              <div class="form-check">
                <input type="checkbox" name="check10" class="form-check-input" {%if estabelecimentos.acess_metod%} checked {%endif%}>
                <label class="form-check-label">Acessibilidade metodológica</label>
              </div>

            </div>
          </div>

        </div>

        <div class="form-group">
          <label for="">Informações</label>
          <textarea name="desc" cols="30" rows="10" class="form-control">{{estabelecimentos.desc}}</textarea>
        </div>
        <label for="imagens">Escolher imagem</label><br>
        <input type="file" name="imagens" accept="image/*">
        {%if user.is_authenticated %}
        <p style="margin-top: 20px;">
          <button type="submit" class="btn btn-primary">Editar</button>
        </p>
        {%else%}
        <br><br>
        <label> Faça o Login para Editar </label>
        {%endif%}
      </div>
      <div class="card-footer"></div>
    </form>
  </div>
</section>

{% endblock content %}